<html ng-app="livraria">
<head>
    <title>Lista de Livros</title>
    <script src="js/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
    <style>
        .jumbotron {
            width: 85%;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .table {
            margin-top: 20px;
        }

        .form-control {
            margin-bottom: 5px;
        }

        .negrito {
            font-weight: bold;
        }
    </style>
    <script>
        angular.module("livraria", []);
        angular.module("livraria").controller("livrariaCtrl", function ($scope, $http) {
            $scope.app = "Lista de Livros";
            $scope.livros = [];
            $scope.idiomas = [
                { descricao: "Português", id: 0 },
                { descricao: "Inglês", id: 1 },
                { descricao: "Espanhol", id: 2 },
                { descricao: "Alemão", id: 3 },
                { descricao: "Francês", id: 4 }
            ];

            var getLivros = function () {

                $http.get("http://localhost:61394/api/livro/OrdenarPorNome").then(function (data, status) {
                    $scope.livros = data.data;
                });
            }

            var getLivro = function (id) {
                
                $http.get("http://localhost:61394/api/livro/" + id).then(function (data) {

                    $scope.livro = data.data;
                });
            }

            var postLivro = function (data) {
                
                $http.post("http://localhost:61394/api/livro/", data).then(function () {
                    getLivros();
                });
            }

            var putLivro = function (id, data) {
                
                $http.put("http://localhost:61394/api/livro/" + id, data).then(function (data) {
                    getLivros();
                });
            }

            var deleteLivro = function (id) {

                $http.delete("http://localhost:61394/api/livro/" + id).then(function (data) {
                    getLivros();
                });
            }

            $scope.alterarLivro = function (id) {
                getLivro(id);
            };

            $scope.adicionarlivro = function (livro) {

                $scope.livro.idioma = $scope.livro.idioma.id;

                if (!$scope.livro.id)
                    postLivro($scope.livro);
                else
                    putLivro($scope.livro.id, $scope.livro);

                delete $scope.livro;
            };

            $scope.apagarlivro = function (id) {
                deleteLivro(id);
            };

            getLivros();
        });
    </script>
</head>
<body ng-controller="livrariaCtrl">
    <div class="jumbotron">
        <h3>{{app}}</h3>
        <table ng-show="livros.length > 0" class="table">
            <tr>
                <th>Titulo</th>
                <th>Subtitulo</th>
                <th>Edicao</th>
                <th>Ano</th>
                <th>Paginas</th>
                <th>Preço</th>
                <th>Editora</th>
                <th>Idioma</th>
                <th></th>
            </tr>
            <tr ng-repeat="livro in livros">
                <td ng-show="false">{{livro.id}}</td>
                <td>{{livro.titulo}}</td>
                <td>{{livro.subtitulo}}</td>
                <td>{{livro.edicao}}</td>
                <td>{{livro.ano}}</td>
                <td>{{livro.paginas}}</td>
                <td>{{livro.preco}}</td>
                <td>{{livro.editora}}</td>
                <td>{{livro.idioma}}</td>
                <td><button class="btn btn-warning btn-block" ng-click="alterarLivro(livro.id)">Editar</button></td>
                <td><button class="btn btn-danger btn-block" ng-click="apagarlivro(livro.id)">Excluir</button></td>
            </tr>
        </table>
        <hr />
        <form>
            <input class="form-control" type="text" ng-model="livro.titulo" placeholder="Título" />
            <input class="form-control" type="text" ng-model="livro.subtitulo" placeholder="Subtítulo" />
            <input class="form-control" type="text" ng-model="livro.edicao" placeholder="Edição" />
            <input class="form-control" type="text" ng-model="livro.ano" placeholder="Ano de lançamento" />
            <input class="form-control" type="text" ng-model="livro.paginas" placeholder="Quantidade de Páginas" />
            <input class="form-control" type="text" ng-model="livro.preco" placeholder="Preço" />
            <input class="form-control" type="text" ng-model="livro.editora" placeholder="Editora" />
            <select class="form-control" ng-model="livro.idioma" ng-change="onChangeIdioma()" ng-options="idioma.descricao for idioma in idiomas">
                <option value="">Selecione um idioma</option>
            </select>
            <button class="btn btn-primary btn-block col-sm-3" ng-click="adicionarlivro(livro)" ng-disabled="!livro.titulo || !livro.ano">Salvar livro</button>
        </form>
    </div>
</body>
</html>