<html ng-app="livraria">
<head>
    <title>Lista de Livros</title>
    <script src="js/angular.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/livrariaCtrl.js"></script>
    <script src="app/services/livrariaAPIService.js"></script>
    <script src="app/config/config.js"></script>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
    <link href="lib/app.css" rel="stylesheet" />
</head>
<body ng-controller="livrariaCtrl">
    <div class="jumbotron">
        <h3>{{app}}</h3>
        <table ng-show="livros.length > 0" class="table">
            <tr>
                <th>Titulo</th>
                <th>Subtitulo</th>
                <th>Edicao</th>
                <th>Ano</th>
                <th>Paginas</th>
                <th>Preço</th>
                <th>Editora</th>
                <th>Idioma</th>
                <th></th>
            </tr>
            <tr ng-repeat="livro in livros">
                <td ng-show="false">{{livro.id}}</td>
                <td>{{livro.titulo}}</td>
                <td>{{livro.subtitulo}}</td>
                <td>{{livro.edicao}}</td>
                <td>{{livro.ano}}</td>
                <td>{{livro.paginas}}</td>
                <td>{{livro.preco}}</td>
                <td>{{livro.editora}}</td>
                <td>{{livro.idioma}}</td>
                <td><button class="btn btn-warning btn-block" ng-click="alterarLivro(livro.id)">Editar</button></td>
                <td><button class="btn btn-danger btn-block" ng-click="apagarlivro(livro.id)">Excluir</button></td>
            </tr>
        </table>
        <hr />
        <form>
            <input class="form-control" type="text" ng-model="livro.titulo" placeholder="Título" />
            <input class="form-control" type="text" ng-model="livro.subtitulo" placeholder="Subtítulo" />
            <input class="form-control" type="text" ng-model="livro.edicao" placeholder="Edição" />
            <input class="form-control" type="text" ng-model="livro.ano" placeholder="Ano de lançamento" ui-number-mask />
            <input class="form-control" type="text" ng-model="livro.paginas" placeholder="Quantidade de Páginas" ui-number-mask />
            <input class="form-control" type="text" ng-model="livro.preco" placeholder="Preço" />
            <input class="form-control" type="text" ng-model="livro.editora" placeholder="Editora" />
            <select class="form-control" ng-model="livro.idioma" ng-change="onChangeIdioma()" ng-options="idioma.descricao for idioma in idiomas">
                <option value="">Selecione um idioma</option>
            </select>
            <button class="btn btn-primary btn-block col-sm-3" ng-click="adicionarlivro(livro)" ng-disabled="!livro.titulo || !livro.ano">Salvar livro</button>
        </form>
    </div>
</body>
</html>